@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'roboto', sans-serif;
}

header{
    background-color: #1f2937;
    padding: 16px 210px;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.secondary-text,a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115px 0;
    gap: 35px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap:13px
}

.hero-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-right{
    flex-shrink: 0;
    width: 50%;
}

.hero-btn{
    border: none;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 20px;
    width: 125px;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 220px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 210px;
    margin-top: 48px;
}

main h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 48px 0 48px 0;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 205px;
    text-align: center;
}

.card-image{
    border: 3px solid #3882f6;
    border-radius: 23px;
    width:163px;
    height: 163px;
}

.quote-section{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 115px 210px;
}

.quote-section em{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.quote-section p{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
}

